body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

small {
  color: red;
  font-size: 12px;
}

.appContainer {
  padding: 4.5rem 4rem;
}

.firstVerticalRetangle,
.secondVerticalRetangle {
  height: 100vh;
}

.firstVerticalRetangle {
  width: 51px;
  background-color: #68519d;
}

.secondVerticalRetangle {
  width: 9px;
  background-color: #d7cae5;
}

.logo {
  width: 216px;
  height: 64px;
}

tbody > tr:nth-child(even) {
  background: #f5f5f5;
}

.openModalNewTaskButton,
.modalEventButton,
.loginUserButton,
.registerUserButton,
.registerButton, .searchButtons {
  background-color: white;
  color: #68519d;
  border: 1px solid #68519d;
  border-radius: 5rem;
  padding: 0.3rem 1rem;
}

.openModalNewTaskButton:hover,
.registerUserButton:hover, .searchButtons:hover {
  background-color: #68519d;
  color: white;
}

.appName,
.modalTitle,
.mb-3 > .h3,
#divUser,
#logoutButton {
  color: #68519d;
  font-weight: bold;
}

#logoutButton:hover {
  text-decoration: underline;
  cursor: pointer;
}

.openModalEditTaskButton,
.deleteTaskButton {
  background: none;
  border: none;
}

th,
tr {
  color: #2c2661;
}

.registerTaskModal,
.editTaskModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.form {
  background-color: white;
  border: 1px solid #68519d;
  border-radius: 0.5rem;
  position: relative;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  width: 45%;
}

.formLoginPage,
.formRegisterPage {
  position: absolute;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #68519d;
  border-radius: 0.5rem;
  width: 35%;
  left: 32.5%;
  box-shadow: 2px 2px 2px 1px rgba(48, 2, 54, 0.2);
}

.formInputs {
  border: 1px solid #000000;
  border-radius: 0.5rem;
}

.success {
  border-color: green;
}

.error {
  border-color: red;
}

label {
  color: #68519d;
}

.form-control,
.form-select,
option {
  color: #2c2661;
}

.closeModalButton,
.closeRegisterUserModalButton {
  color: #828282;
  text-decoration: none;
}

.closeModalButton:hover,
.closeRegisterUserModalButton:hover {
  text-decoration: underline;
  color: #828282;
}

.form-select {
  background-image: url(../images/select-detail.svg);
}

td[value='Concluído'] {
  color: #27ae68;
}

td[value='Em andamento'] {
  color: #f8b04e;
}

td[value='Parado'] {
  color: #eb5757;
}

#inputDate::placeholder {
  color: #68519d;
}

.enabledButton {
  background-color: #68519d;
  color: white;
}

.polygonContainer {
  width: 270px;
}

.polygon {
  position: fixed;
  right: 0;
  bottom: 0;
  min-height: 634px;
  height: 75%;
  width: 20%;
  background-color: #f8b04e;
  clip-path: polygon(0 100%, 0 45%, 45% 0, 100% 0);
  transform: rotate(180deg);
}

.d-flex {
  padding: 0;
}

.responseAPI {
  display: none;
}

/*#darkModeToggle {
    width: 31.25rem;
    height: 12.5rem;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 12.5rem;
    box-shadow: inset 0px 0.313rem 0.938rem rgba(0, 0, 0, 0.4), inset 0px --0313rem 0.938rem rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

#darkModeToggle:after {
  content: "";
  width:11.25rem;
  height: 11.25rem;
  position: absolute;
  top:0.625rem;
  left:0.625rem;
  background: linear-gradient(180deg,#ffcc89,#d8860b);
  border-radius: 11.25rem;
  box-shadow: 0px 0.313rem 0.626rem rgba(0,0,0,0.2);
}

#darkmode-toggle {
  width: 0;
  height: 0;
  visibility: hidden;
}

#darkmode-toggle:checked + #darkModeToggle {
  background: #242424;
}

#darkmode-toggle:checked + #darkModeToggle:after {
  left:30.5rem;
  transform: translateX(-100%);
  background: linear-gradient(180deg,#777,#3a3a3a);
}

#darkModeToggle, #darkModeToggle:after {
  transition: 0.3s
}

#darkModeToggle:active:after {
  width: 16.25rem;
}

label svg {
  position: absolute;
  width: 7.5rem;
  top:2.5rem;
  z-index: 100;
}
label svg.sun {
  left:2.5rem;
  fill:#fff;
  transition: 0.3s;
}
label svg.moon {
  left:21.25rem;
  fill:#7e7e7e;
  transition: 0.3s;
}
input:checked + label svg.sun {
  fill:#7e7e7e;
}
input:checked + label svg.moon {
  fill:#fff;
}

.backgroundDarkMode {
  background-color: rgb(36,36,36);
}*/
